/* Variables */
/* ---------- */
:root {
	--komodo-spacing: 0.375rem;

	--komodo-pill-bg-color: var(--theme-ui-colors-primary);
	--komodo-pill-text-color: var(--theme-ui-colors-textOnDark);

	--komodo-button-bg-color: var(--theme-ui-colors-white);
	--komodo-button-border-color: var(--komodo-button-bg-color);
	--komodo-button-text-color: var(--theme-ui-colors-secondary);

	--komodo-button-hover-bg-color: rgba(0, 119, 217, 0.1);
	--komodo-button-hover-border-color: #0065b8;
	--komodo-button-hover-text-color: #0065b8;

	--komodo-button-disabled-bg-color: var(--theme-ui-colors-muted);
	--komodo-button-disabled-border-color: var(--komodo-button-disabled-bg-color);
	--komodo-button-disabled-text-color: var(--theme-ui-colors-disabled);
}

/* Overrides */
/* --------- */

/* Increase width of tour rename dialog */
dialog[data-test-id='rename-tour-dialog'] > div {
	width: 100%;
	max-width: 64rem;
}

/* Enable flex gap and wrapping on filter container */
.komodo-filter-container {
	flex-wrap: wrap;
	gap: var(--komodo-spacing);

	/* Remove margin from filter buttons because we use flex gap instead */
	> button {
		margin-right: 0 !important;
	}
}

/* Align buttons in button container */
div:has(> a[href='/upload']) {
	align-items: center;
}

/* Tour Zoom Page: Page title */
h1:has(> .komodo-tag-pill-container) {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: var(--komodo-spacing);
}

/* Tour List Page: Add margin below tour titles  */
a[data-test-id='tours_list_item_title'] {
	display: block;
	margin-bottom: var(--komodo-spacing);
}

/* Utilities */
/* --------- */

.komodo-hide {
	display: none;
}

.komodo-scrollable {
	max-height: 350px;
	overflow-y: auto;
	overflow-x: hidden;
	scrollbar-width: thin;
}

/* Custom elements */
/* --------------- */

.komodo-divider {
	border-bottom-width: 1px;
	border-color: var(--theme-ui-colors-border);
	border-style: solid;
	width: 100%;
	justify-self: stretch;
}

.komodo-tag-filter-container {
	flex: 1 1 auto;
	display: flex;
	flex-wrap: wrap;
	gap: var(--komodo-spacing);
}

.komodo-tag-filter {
	border-width: 1px;
	font-weight: 700;
	border-radius: 8px;
	flex: 1 1 0%;
	background-color: var(--theme-ui-colors-card);
	color: var(--theme-ui-colors-text);
	border-color: var(--theme-ui-colors-black20);

	&:hover {
		border-color: var(--theme-ui-colors-black30);
	}

	> p {
		align-items: center;
		display: flex;
		flex-direction: row;
		gap: 1.5rem;
		justify-content: space-between;
		padding: 1rem;
		width: initial;
		align-self: stretch;
	}

	fieldset {
		align-items: stretch;
		display: flex;
		flex-direction: column;
		gap: 0.75rem;
		justify-content: end;
		padding: 1rem;
		width: initial;
		align-self: stretch;

		> label {
			align-items: center;
			border-color: var(--theme-ui-colors-border);
			border-radius: 8px;
			border-style: solid;
			color: var(--theme-ui-colors-text);
			cursor: pointer;
			display: flex;
			flex-direction: row;
			gap: 1.5rem;
			grid-area: grid-item-0;
			justify-content: space-between;
			padding: 0.5rem;
			width: initial;
			align-self: stretch;
			border-width: 1px;

			&:hover {
				border-color: var(--theme-ui-colors-whisper);
			}

			&:has(input[type='checkbox'][value='true']) {
				color: var(--theme-ui-colors-primary);
			}

			&:has(input[type='checkbox'][value='false']) {
				color: var(--theme-ui-colors-error);
			}

			> input[type='checkbox'] {
				&[value='true'] {
					accent-color: var(--komodo-pill-bg-color);
				}

				&[value='false'] {
					accent-color: var(--theme-ui-colors-error);
				}
			}
		}
	}

	> select {
		display: block;
		width: fit-content;
		margin-top: var(--komodo-spacing);
	}
}

.komodo-pill {
	align-items: center;
	background-color: var(--komodo-pill-bg-color);
	border-radius: 4px;
	color: var(--komodo-pill-text-color);
	display: inline-flex;
	justify-content: center;
	min-width: 2em;
	text-align: center;
	font-size: 12px;
	font-weight: 700;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	text-transform: inherit;
	flex-shrink: 0;
}

.komodo-tag-pill-container {
	display: flex;
	flex-wrap: wrap;
	gap: var(--komodo-spacing);

	> .komodo-pill > div > span:nth-child(2) {
		white-space: pre;
	}
}

.komodo-button {
	align-items: center;
	appearance: none;
	background-color: var(--komodo-button-bg-color);
	border-color: var(--komodo-button-border-color);
	border-radius: 8px;
	border-style: solid;
	color: var(--komodo-button-text-color);
	cursor: pointer;
	display: inline-flex;
	justify-content: center;
	pointer-events: auto;
	text-align: center;
	width: unset;
	border-width: 0.0625rem;
	text-decoration: none;
	transition: all 200ms;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.5rem;
	padding-left: 0.6875rem;
	padding-right: 0.6875rem;
	padding-top: 0.4375rem;
	padding-bottom: 0.4375rem;

	&:hover {
		background-color: var(--komodo-button-hover-bg-color);
		border-color: var(--komodo-button-hover-border-color);
		color: var(--komodo-button-hover-text-color);
	}

	&:disabled {
		cursor: default;
		background-color: var(--komodo-button-disabled-bg-color);
		border-color: var(--komodo-button-disabled-border-color);
		color: var(--komodo-button-disabled-text-color);
	}

	> svg {
		color: inherit;
	}

	> span {
		display: inline-flex;
		text-align: center;
		flex-flow: column;
		padding-left: 0.25rem;
		padding-right: 0;
	}
}

/* Originating elements needs to be positioned relatively */
.komodo-new {
	position: relative;
}

/* Add an icon to newly added elements */
.komodo-new::after {
	content: '🦎';
	position: absolute;
	top: 0;
	right: calc(var(--komodo-spacing) * -1);
	z-index: 1;
	font-size: small;
	line-height: 0;
}
